.container {
    width: 800px;
    margin: 0 auto;
}
.navbar {
    float: right;
}
.fire-map {
    height: 600px;
}
.search-bar {
    float: right;
    height: 50px;
    margin-top: 30px;
}
.footer {
    text-align: center;
    margin: 20px auto;
}
#fire-map-canvas {
    height: 95%;
    margin: 10px;
    padding: 0;
}
.piece-map-segment {
    height: 300px;
}
.piece-map-canvas {
    height: 95%;
}