extends layouts/default

block content
    .main.container
        .ui.left.aligned
            .ui.two.column.grid
                #logo.column
                    img.ui.medium.image(src="http://placehold.it/350x150&text=POP+on+Fire(Pre-Alpha)")
                .column
                    .ui.small.icon.message
                        i.circular.question.icon
                        .content POP 是指公有土地資產 (Publicly Owned Property)，這些土地資源的產權是公有，是屬於全民的公共資產。
        .ui.segment.fire-map
            .ui.red.ribbon.label
              | 火線地圖
            #fire-map-canvas
        #search-box
        .ui.segment.piece-map
              .ui.three.column.grid



